{% extends 'base.html' %}

{% block content %}
    <h2>Search Results for "{{ query }}"</h2>

    {% if tasks %}
        <h3>Tasks:</h3>
        <ul>
            {% for task in tasks %}
                <li><a href="{% url 'task-detail' task.id %}">{{ task.name }}</a></li>
                {% if task.folder %}
                    <li>Folder: <a href="{% url 'folder-detail' task.folder.id %}">{{ task.folder.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

    {% if folders %}
        <h4>Folders:</h4>
        <ul>
            {% for folder in folders %}
                <li><a href="{% url 'folder-detail' folder.id %}">{{ folder.name }}</a></li>
                {% if folder.project %}
                    <li>Project: <a href="{% url 'project-detail' folder.project.id %}">{{ folder.project.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

    {% if projects %}
        <h5>Projects:</h5>
        <ul>
            {% for project in projects %}
                <li><a href="{% url 'project-detail' project.id %}">{{ project.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if not tasks and not folders and not projects %}
        <p>No results found.</p>
    {% endif %}

{% endblock %}