{% extends 'main.html' %}

{% block content %}
<h1>Leave your contacts here</h1>

<form action="" method="post">
    {% csrf_token %}
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>
    <br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <br>

    <label for="phone">Number:</label>
    <input type="tel" id="phone" name="phone">
    <br>

    <input type="submit" value="Отправить">
</form>
{% endblock %}