{% extends 'main.html' %}

{% block content %}
    {% csrf_token %}
    <h1>Your Profile</h1>
    <br>
    <ul>
        {% if user.username %}
            <p><strong>Username: {{ user.username }}</strong></p>
        {% endif %}
        {% if user.email %}
            <p><strong>Email: {{ user.email }}</strong></p>
        {% endif %}
        {% if user.first_name %}
            <p><strong>Name: {{ user.first_name }}</strong></p>
        {% endif %}
        {% if user.last_name %}
            <p><strong>Last name: {{ user.last_name }}</strong></p>
        {% endif %}
    </ul>
{% endblock %}